<label>Choose categories that interest you:</label>
<div class="form-group">
    <div class="checkbox">
        <label>
           <input type="checkbox" class="dotancolor" name="supermarkets">
           Supermarkets
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="pharmacy">
            Pharmacy
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="restaurants">
            Restaurants
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="clothing">
            Clothing
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>