/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:10px; }
pre                             { margin-bottom:20px; }
/* form styling */
#form-container                { background:#000000; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#000000; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#4EB1CC; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:10px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to    { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(200%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(200%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(200%); }
  to    { -webkit-transform: translateX(0); }
}

/* AD VIEW */

.maxw{
    max-width: 100%;
    /*max-height: 270px;*/
}

.product-price {
  background-color: #4eb1cc;
  color: black;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  font-family: "CaviarDreams", Verdana, Tahoma;
  padding: 10px;
}

.spacer {
  background: black;
  height: 70px;
}

.spacer-thin {
  border: solid black 3px;
}


.product-reminder-unsubscribed{
  background-color: #4eb1cc;
  height: 100px;
  text-align: center;
  padding-top: 10px;
  font-size: 14pt;
  font-family: "CaviarDreams", Verdana, Tahoma;
}

.product-reminder-subscribed{
  background-color: black;
  height: 100px;
  text-align: center;
  padding-top: 10px;
  font-family: "CaviarDreams", Verdana, Tahoma;
}

@font-face {
    font-family: "CaviarDreams";
    src: url(/../graphics/fonts/CaviarDreams.ttf) format("truetype");
}
.adv-banner {
    display: block;
    margin: 2px 0px;
}